h3 {
  text-align: center;
}

/* EDIT MODE */

.HyperMD-header.HyperMD-header-3 {
    text-align: center;
}

/* PREVIEW MODE */

.markdown-preview-view h3 {
    text-align: center;
}

h2 {
    text-align: center;
  }
  
  /* EDIT MODE */
  
  .HyperMD-header.HyperMD-header-2 {
      text-align: center;
  }
  
  /* PREVIEW MODE */
  
  .markdown-preview-view h2 {
      text-align: center;
  }